# Core
dnspython==2.4.2
requests==2.31.0
beautifulsoup4==4.12.2
whois==0.9.27
colorama==0.4.6
tqdm==4.66.1

# OSINT
shodan==1.29.1
censys==2.2.4
PyGithub==2.1.1

# Social
telethon==1.34.0
discord.py==2.3.2

# Exploit
pymetasploit3==1.0.3

# C2 & Crypto
cryptography==41.0.7
pynput==1.7.6

# Database
neo4j==5.14.0

# Web Panel
flask==3.0.0
flask-cors==4.0.0

# Utils
paramiko==3.4.0
scp==0.13.6
